body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* ページを中央に配置 */
}

#postForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    /* フォームの幅を調整 */
    max-width: 400px;
    /* 最大幅を指定 */
    margin-top: 20px;
    margin-bottom: 20px;
    /* フォームとメッセージエリアの間隔を設定 */
}

#messages {
    width: 80%;
    /* メッセージエリアの幅を調整 */
    max-width: 600px;
    /* 最大幅を指定 */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* メッセージエリアとページ下部の間隔を設定 */
    overflow-y: auto;
    /* スクロールが必要な場合にスクロールバーを表示 */
}

/* スクロールバーのデザインをカスタマイズする場合 */
#messages::-webkit-scrollbar {
    width: 10px;
}

#messages::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: none;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message-container {
    border: 3px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    /* メッセージコンテナの最大幅を指定 */
}

.username {
    font-weight: bold;
    color: #007BFF;
    /* ユーザー名の色を指定 */
}

.message {
    white-space: pre-line;
    /* 改行を維持する */
}